<?xml version="1.0" ?>
<model>
    <name>TestScenario</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
    <author>
        <name>Jari van den Heuvel</name>
        <email>JW.vandenHeuvel@student.han.nl</email>
    </author>
    <description>The walls for the testscenario in a hospital setting. Built with a custom designed .svg</description>
</model>
