<?xml version="1.0"?>
<model>
  <name>wall_y_3</name>
  <version>1.4</version>
  <!-- <urdf version="1.0">bed.urdf</urdf> -->
  <sdf version="1.4">wall_y_3.sdf</sdf>

  <author>
    <name>Maurits Muijsert</name>
    <email>mpw.muijsert@student.han.nl</email>
  </author>

  <description>
    A wall.
  </description>
</model>