<?xml version="1.0"?>
<model>
  <name>bed</name>
  <version>1.5</version>
  <!-- <urdf version="1.0">bed.urdf</urdf> -->
  <sdf version="1.5">bed.sdf</sdf>

  <author>
    <name>UNKNOWN UNKNOWN</name>
    <email>UNKNOWN@UNKNOWN.UNKNOWN</email>
  </author>

  <description>
    A bed.
  </description>
</model>