<?xml version="1.0"?>
<model>
  <name>Hopital_floor_walls</name>
  <version>1.0</version>
  <sdf version="1.0">Hospital_floor_walls.sdf</sdf>

  <author>
    <name>Jeroen van Kempen</name>
    <email>j.vankempen3@student.han.nl</email>
  </author>

  <description>
    walls of a basic hospital floor
  </description>
</model>
