<?xml version="1.0" ?>
<model>
    <name>four_blocks_surrounded</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
    <author>
        <name>Maurits Muijsert</name>
        <email>MPW.Muijsert@student.han.nl</email>
    </author>
    <description>A set of walls that form four blocks that are surrounded by more walls.</description>
</model>
