<?xml version="1.0" ?>
<model>
    <name>scenario_1</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
    <author>
        <name>Jeroen van Kempen</name>
        <email>j.vankempen3@student.han.nl</email>
    </author>
    <description>the walls of scenario_1</description>
</model>
