<?xml version="1.0"?>
<model>
  <name>cabinet_ikea_malm_small</name>
  <version>1.5</version>
  <sdf version="1.0">cabinet_ikea_malm_small.urdf</sdf>

  <author>
    <name>UNKNOWN UNKNOWN</name>
    <email>UNKNOWN@UNKNOWN.UNKNOWN</email>
  </author>

  <description>
    A cabinet ikea malm small.
  </description>
</model>